<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">




  
<servlet> 
<display-name>candidatesearch</display-name> 
<servlet-name>candidatesearch</servlet-name>  
<servlet-class>com.Candidate.search.candidatesearch</servlet-class>
</servlet>
<servlet>
<display-name>collegesearchjava</display-name> 
<servlet-name>collegesearchjava</servlet-name>  
<servlet-class>com.Candidate.search.collegesearchjava</servlet-class>
</servlet>  
  
<servlet-mapping>  
<servlet-name>candidatesearch</servlet-name>  
<url-pattern>/candidatesearch</url-pattern>  
</servlet-mapping>  
<servlet-mapping>  
<servlet-name>collegesearchjava</servlet-name>  
<url-pattern>/collegesearchjava</url-pattern>  
</servlet-mapping>
  
</web-app>  